@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	background-image: url(body_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #009900;
}
ul,li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
div {
	margin: 0px;
	padding: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
#container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	float: left;
	width: 960px;
}
.top_text {
	line-height: 20px;
	float: left;
	width: 960px;
	padding-top: 5px;
	color: #FFFFFF;
	text-align: left;
	font-size: 13px;
	word-spacing: 0.3em;
}
.top_text p{
	margin:0;
}
.logo {
	float: left;
	width: 491px;
	height: 132px;
	padding-top: 8px;
}
.top_msn {
	float: left;
	height: 132px;
	width: 145px;
	padding-top: 8px;
}
.top {
	float: left;
	width: 270px;
	text-align: left;
	padding-left: 54px;
}
.top a {
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
}
.top_search {
	float: left;
	width: 324px;
	padding-top: 23px;
}
.bottom {
	float: left;
	width: 270px;
	padding-left: 54px;
	text-align: left;
	padding-top: 30px;
	color:#FFF:
}
.bottom a {
	color:#FFF:
}
.input01 {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.topnav {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FLOAT: left; WIDTH: 960px; LINE-HEIGHT: 39px; LIST-STYLE-TYPE: none; HEIGHT: 39px
}
.topnav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.topnav UL LI {
	FLOAT: left; MARGIN-LEFT: 15px; LINE-HEIGHT: 39px; MARGIN-RIGHT: 10px
}
.topnav UL LI A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.topnav UL LI A:hover {
	COLOR: #ffff00
}
.topnav01 {
	BORDER-TOP-WIDTH: 10px; DISPLAY: none; Z-INDEX: 100; FLOAT: left; WIDTH: 500px; POSITION: absolute; BACKGROUND-COLOR: #324900
}
.topnav01 UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; LINE-HEIGHT: 12px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #324900
}
.topnav01 UL LI {
	PADDING-LEFT: 5px; FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 200px; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.banner {
	float: left;
	width: 960px;
	padding-top: 10px;
}
.page_text {
	float: left;
	width: 960px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	padding-top: 10px;
}
.list {
	BORDER-RIGHT: #628720 1px solid; BORDER-TOP: #628720 1px solid; MARGIN-TOP: 10px; FLOAT: left; BORDER-LEFT: #628720 1px solid; WIDTH: 958px; BORDER-BOTTOM: #628720 1px solid; HEIGHT: auto
}
.list_title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FLOAT: left; WIDTH: 958px; COLOR: #ffffff; HEIGHT: 25px; BACKGROUND-COLOR: #bdd299
}
.list_title UL LI {
	BORDER-RIGHT: #86b92b 1px solid; DISPLAY: block; FLOAT: left; WIDTH: 160px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.list_title UL LI A {
	COLOR: #003300; TEXT-DECORATION: none
}
.list_title LI A:hover {
	COLOR: #006600; TEXT-DECORATION: none
}
.sd01 {
	DISPLAY: block; FONT-WEIGHT: bold; WIDTH: 160px; LINE-HEIGHT: 25px; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.sd02 {
	DISPLAY: block; FONT-WEIGHT: bold; WIDTH: 160px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: center
}
.list_content {
	CLEAR: both; FLOAT: left; WIDTH: 958px; PADDING-TOP: 10px; HEIGHT: auto
}
.pro {
	MARGIN-TOP: 10px;
	FLOAT: left;
	MARGIN-LEFT: 6px;
	WIDTH: 210px;
	MARGIN-RIGHT: 5px;
	HEIGHT: 140px;
	text-align: left;
}
.pro a {
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.pro a:hover {
	color: #006600;
}
.pro span {
	font-size: 10px;
}
.bottom_nav {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-SIZE: 12px;
	FLOAT: left;
	MARGIN-BOTTOM: 10px;
	BORDER-LEFT: #cccccc 1px solid;
	WIDTH: 938px;
	LINE-HEIGHT: 20px;
	BORDER-BOTTOM: #cccccc 1px solid;
	HEIGHT: auto;
	padding: 10px;
	margin-top: 10px;
}
.bottom1 {
	line-height: 20px;
	text-align: left;
	float: left;
	width: 210px;
	padding-left: 10px;
}
.span001 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #009900
}
.bottom1 a {
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.bottom1 a:hover {
	color: #009900;
}
.input02 {
	line-height: 24px;
	height: 24px;
	border: 1px solid #CCCCCC;
}



#pagebody {
	float: left;
	width: 960px;
}
#footer {
	clear: both;
	width: 960px;
}
.payment {
	float: left;
	width: 960px;
}
.copyright {
	line-height: 20px;
	float: left;
	width: 960px;
}
.footer_nav {
	float: left;
	width: 960px;
}
.footer_nav a {
	font-size: 11px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	display: inline;
	padding-right: 3px;
	padding-left: 3px;
}
.footer_nav a:hover {
	color: #009900;
}
#think_run_time {
	clear:both;
}








/*附加*/


.topnav {

	float:left;
	height:39px;
	line-height:39px;
	font-size:13px;
	font-weight:bold;
	width: 100%;
	list-style: none;
	}
.topnav ul{
margin:0px;
padding:0px;
list-style-type:none;
}
.topnav ul li{

line-height:39px;
float:left;
margin-left:15px;
margin-right:10px;
}
.topnav ul li a{
color:#FFFFFF;
text-decoration:none;
}
.topnav ul li a:hover{
color:#FFFF00;
}
.topnav01{
display:none;
position:absolute;
z-index:100;
float:left; 
 width:500px; 
 border-top:10px;
  background-color:#324900;
}
.topnav01 ul {
background-color:#324900;
margin:0px;
padding:0px;
line-height:12px;
font-size:10px;
padding:5px;
padding-top:10px;
font-weight:normal;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.topnav01 ul  li{
text-align: left;
line-height:20px;

float:left;
width:200px;
padding-left:5px;

margin-bottom:5px;
}

.banner{
width:960px;
height:auto;
background-color:#996666;
margin-top:10px;
float:left;
}

.middle01{
width:960px;
height:auto;
line-height:16px;
font-size:11px;
margin-top:10px;
float:left;
}
.middlelist{
width:958px;
height:auto;
margin-top:10px;
float:left;
border:1px solid #628720;
}
.middle02{
width:958px;
height:25px;
float:left;
background-color:#bdd299;
font-size:13px;
font-weight:bold;
color:#FFFFFF;
}
.middle02 ul li{
width:160px;
height:25px;
line-height:25px;
text-align:center;
border-right:#86b92b 1px solid;
float:left;
display:block;
}
.middle02 ul li a{
color:#003300;
text-decoration:none;
}
.middle02 ul li a:hover{
color: #006600;
text-decoration:none;
}
.sd01{
width:160px;
background-color:#FFFFFF;
height:25px;
text-align:center;
display:block;
line-height:25px;
font-weight:bold;

}

.sd02{
width:160px;
height:25px;
text-align:center;
display:block;
line-height:25px;
font-weight:bold;

}
.tagContent{
clear:both;
width:958px;
height:auto;
padding-top:10px;
float:left;
}
.tagContent ul li{
width:210px;
height:140px;
margin-top:10px;

float:left;
margin-left:6px;
margin-right:5px;
}
.red{
color:#FF0000;
font-weight:bold;
font-size:13px;
}
.bottom{
width:960px;
height:auto;
float:left;
margin-top:10px;
color:#FFF;
}
.bottom a{
color:#FFF;
}
.bottom01{
width:938px;
padding:10px;
line-height:20px;
font-size:12px;
height:auto;
float:left;
border:1px solid #cccccc;
margin-bottom:10px;
}
.span001{
color:#009900;
font-size:13px;
font-weight:bold;
}
.bottom02{
width:960px;
height:auto; text-align:center;
padding-bottom:10px;
}
.input01{
width:160px;
height:20px;
border:1px solid #cccccc;
}
.input01{
width:120px;
height:20px;
border:1px solid #cccccc;
}
/*product Document */
.page_middle{
width:960px;
float:left;
height:auto;
margin-top:20px;
}
.pagemiddle_left{
width:190px;
height:auto;
float:left;
background-color:#b2cb87;
padding:5px;

text-align:left;
}
.pagemiddle_left ul{
margin:0px;
padding:0px;
}
.pagemiddle_left ul li{
width:190px;
float:left;
font-size:13PX;

height:auto;
line-height:20px;

}
.pagemiddle_left ul li ul{
margin:0px;
padding:0px;
}
div.pagemiddle_left ul ul li{
width:188px;
font-size:11PX;

float:left;
background-color: #d5e3bc;
border:#7db320 1px solid;

}
.pagemiddle_left ul li ul li ul {
margin:0px;
padding:0px;
}
.pagemiddle_left ul li ul li ul li{
border:0px;
padding-left:4px;
width:184px;

float:left;
background-color:#f0fbdd; 
}


.pagemiddle_right{
background-color:#FFFFFF;
width:755px;
height:auto;

border-left:#FFFFFF 1px solid;
}
.pagemiddle_righttitle{
font-size:12px;
width:735px;
line-height:25px;
font-weight:bold;
padding-left:20px;
height:25px;
background-color:#becfa0;
}
.pagemiddle_rightwz{
font-size:11px;
width:735px;

padding-left:20px;
line-height:16px;
}

.pagemiddle_righttitle2{
font-size:12px;
width:735px;
line-height:25px;
margin-top:10px;
margin-bottom:10px;
clear:both;


padding-left:20px;
height:auto;
background-color:#f3fae6;
}

.pagemiddle_rightlist{
width:755px;
height:auto;

}
.pagemiddle_rightlist ul li{
float:left;
margin-left:20px;
margin-right:20px;
width:130px;
height:200px;
margin-bottom:10px;
}
/*page */
.page_title{
width:960px;
height:auto;
font-size:12px;
}
.page_box{
width:960px;
height:auto;
text-align:left;
margin-top:10px;
}
.similar{
width:380px;
height:auto;
}
.similar ul li{
width:100px;
text-align:center;
font-size:12px;
height:120px;
float:left;
margin-left:5px;
margin-right:5px;
margin-top:10px;
}
.orderkuan {
	CLEAR: both;  WIDTH: 100%;

}
.orderkuan TD {
	TEXT-ALIGN: center;
		line-height:30px;
}
.orderkuan .title {
	FONT-WEIGHT: bold; BACKGROUND: #f4f9fc
}
.orderkuan .title TD {
	LINE-HEIGHT: 180%; TEXT-ALIGN: center
}
.orderkuan .detail {
	BACKGROUND: #fdfdfe
}
.orderkuan .detail TD {
	LINE-HEIGHT: 180%; BORDER-BOTTOM: #fff 3px solid; TEXT-ALIGN: center
}
.orderkuan .amount {
	FONT-WEIGHT: bold; LINE-HEIGHT: 180%; BORDER-BOTTOM: #fff 3px solid; TEXT-ALIGN: right
}
.orderkuan .tp TD {
	BACKGROUND: #f4f8fc
}
.orderkuan .button {
	TEXT-ALIGN: right
}
.orderInfo{
width:726px;
}
.orderInfo H4 {
	FONT: bold 150%/260% arial; COLOR: #990000; TEXT-ALIGN: center
}
.orderInfo UL {
margin:0px;
padding:0px;
}
.orderInfo LI {
	CLEAR: both; FLOAT: left; WIDTH: 98%; LINE-HEIGHT: 180%
}
.orderInfo LI SPAN {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 130px; COLOR: #000; LINE-HEIGHT: 180%; TEXT-ALIGN: right
}
.orderInfo LI FONT {
	CLEAR: left; FLOAT: left; WIDTH: 100%; COLOR: #666; TEXT-INDENT: 11em
}
.orderInfo LI FONT B {
	FONT-WEIGHT: normal; COLOR: red
}
